.content-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.snapchat {
    margin-top: 1rem;
}
@media (max-width: 800px) {
    .content-header {
        grid-template-columns: repeat(1, 1fr);
    }
    .snapchat {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}