.testing {
    color: white;
}
.finance-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid rgb(64, 116, 64) 2px; 
    width: 400px;
    border-radius: 5px;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px; 
    text-decoration: none;
    margin-bottom: 1.5rem;
}
.robinhood {
    position: absolute;
    height: 75px;
    align-self: center; 
    margin-right: -20px;
    margin-left: -1px;
}
.finance-body:hover>.finance-text {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.robinhood-text, .webull-text, .coinbase-text, .pi-text, .cashapp-text, .venmo-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.finance-article {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    border-radius: 2px;
    background-color: rgb(126, 255, 126);
    color: black;
    font-size: 16px;
    padding: 5px 0;
    margin-top: -1rem;
    width: 24%;
}
.finance-hr {
    width: 50%;
}
.finance-paragraph {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.finance-article.visible {
    display: block;
}
.webull {
    position: absolute;
    margin-left: 1rem;
    align-self: center;
}
.coinbase {
    position: absolute;
    height: 60px;
    margin-left: 1rem;
}
.pi {
    margin-left: 1rem;
}
.cashapp {
    margin-left: 1rem;
    height: 40px;
    align-self: center;
}
.venmo {
    position: absolute;
    margin-left: 1rem;
    height: 50px;
}
li {
    font-size: 12px;
}
.finance-paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    font-size: 13px;
}
@media (max-width: 800px) {
    .finance-article {
        width: 90%;
    }
}