.description {
    color: white;
    text-align: center;
}
.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    color: white;
}
.link {    
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: .25rem;
    margin-bottom: .5rem;
    text-decoration: none; 
    margin-right: .5rem; 
    border: solid white 1px;
    padding: .5rem;
}
.link:hover {
    color: black;
    background-color: white;
}
.link:hover {
    cursor: pointer;
}
.hamburger {
    margin-right: 1rem;
    align-self: center;
}
.hamburger .hr1, .hr2, .hr3 {
    width: 25px;
    margin: 5px 0;
    border: 2px solid black;
}
.hr1, .hr2, .hr3 {
    transition: 1s;
}
.change .hr1 {
    transform: rotate(-45deg) translate(-5px, 7px); 
  }
.change .hr2 {
    opacity: 0;
} 
.change .hr3 {
    transform: rotate(45deg) translate(-5px, -8px); 
}
.visbile {
    display: block;
}
.body-sections {
    margin-top: 1rem;
}
.social-media-headers {
    margin-top: 2rem;
    text-align: center;
}
.header-icons {
    margin-left: 1rem;
    height: 1000px;
    color: black;
}
@media (max-width: 800px) {
    .links {
        width: 100%;
    }     
    .link {    
        font-size: 16px;
        padding: .25rem;
        margin-right: .25rem;
        margin-left: .25rem;
    }
}